<!DOCTYPE html>
<html lang="en">
 <title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

<nav class="w3-bar w3-black w3-text-white">
  <a href="{{ url_for('home')}}" class="w3-button w3-bar-item">Home</a>
  <a href="{{ url_for('workouts')}}" class="w3-button w3-bar-item">Workouts</a>
   <a href="{{ url_for('myOutdoorProgressQuerey')}}" class="w3-button w3-bar-item">My Outdoor Progress</a>
        <a href="{{ url_for('myProgressQuerey')}}" class="w3-button w3-bar-item">My Progress</a>
</nav>

<style>
body {
  background-image: url('../static/gym.jpeg');
}
</style>

<section class="w3-container w3-content w3-center w3-text-white" style="max-width:600px">
  <h2 class="w3-wide">Gym App</h2>
  <p class="w3-opacity">Welcome to Gym App</p>
</section>


<section class="w3-container w3-content w3-center w3-text-white" style="max-width:600px">
<p class="w3-justify">
This application allows you to track your gym data and view your progress as you get better over time. It also allows you to view premade workouts and create custom workouts if you wish</section>

<section class="w3-row-padding w3-center w3-black w3-text-white">

  <article class="w3-third">
    <p><strong>Workouts</strong></p>
      <p>This section contains the option to start a premade workout or make your own custom workout that suits you</p>

  </article>
  <article class="w3-third">
      <p><strong> My Progress</strong></p>
      <p>This section lets you see all of your progress in each individual gym exercise from your custom workouts you record </p>

  </article>
  <article class="w3-third">
    <p><strong>My Outdoor Progress</strong></p>
      <p>This section lets you see all of your progress in each individual outdoor exercise from your outdoor workouts you record</p>

  </article>
</section>


</body>

</html>