<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoginPage</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<nav class="w3-bar w3-black w3-text-lime" style="font-family: 'Courier New'">
  <a href="{{ url_for('login')}}" class="w3-button w3-bar-item">Login</a>
  <a href="{{ url_for('register')}}" class="w3-button w3-bar-item">Sign Up</a>
</nav>



<style>
body {
    background-color: #000;
}
</style>


<p style="font-family: 'Courier New' ;color: lime; text-align: center"> The email or password you have entered is incorrect. </p>
<br>
<p style="font-family: 'Courier New' ;color: lime; text-align: center"> Please use the navigation bar at the top of the page to return to the login page or register an account</p>



</body>
</html>