<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <title>My Progress</title>
</head>
<body>

<nav class="w3-bar w3-black w3-text-white">
  <a href="{{ url_for('home')}}" class="w3-button w3-bar-item">Home</a>
  <a href="{{ url_for('workouts')}}" class="w3-button w3-bar-item">Workouts</a>
   <a href="{{ url_for('MyOutdoorProgressQuery')}}" class="w3-button w3-bar-item">My Outdoor Progress</a>
        <a href="{{ url_for('myProgressQuerey')}}" class="w3-button w3-bar-item">My Progress</a>
</nav>

<!--<style>-->
<!--body {-->
<!--    background-image: url('/static/websitebackground.jpeg');-->
<!--}-->
<!--</style>-->


<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
    {% for item in array %}
    <tr>
        {% for exercise in item %}


    <td>{{exercise}}</td>

    {% endfor %}
        </tr>
{% endfor %}

</table>


</body>
</html>