<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
     <link rel="stylesheet" href="../static/style.css">
    <title>My Outdoor Progress</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"> </script>
</head>

<body>

    <nav class="w3-bar w3-black w3-text-white">
      <a href="{{ url_for('home')}}" class="w3-button w3-bar-item">Home</a>
      <a href="{{ url_for('workouts')}}" class="w3-button w3-bar-item">Workouts</a>
       <a href="{{ url_for('MyOutdoorProgressQuery')}}" class="w3-button w3-bar-item">My Outdoor Progress</a>
        <a href="{{ url_for('myProgressQuerey')}}" class="w3-button w3-bar-item">My Progress</a>
    </nav>

<style>
body {
    background-image: url('/static/websitebackground2.jpeg');
}
</style>



<!--    <div class="log-form dropdown-content">-->
<!--        <script>-->
<!--            var xValues = "";-->
<!--            var yValues = "";-->
<!--            for (int i = 0; i < {{exercise|tojson}}.length; i++){-->
<!--                xValues.push(({{exercise|tojson}}[i])[2])-->
<!--                yValues.push(({{exercise|tojson}}[i])[0]/({{exercise|tojson}}[i])[1])-->
<!--            }-->

<!--            new Chart("myChart", {-->
<!--                type: "line",-->
<!--                data: {-->
<!--                    labels: xValues,-->
<!--                    datasets: [{-->
<!--                        backgroundColor: "red",-->
<!--                        data: yValues-->
<!--                    }]-->
<!--                },-->
<!--                options:{...}-->
<!--            });-->
<!--        </script>-->

<!--    </div>-->
</body>

</html>