<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <title>My Progress</title>
</head>
<body>

    <nav class="w3-bar w3-light-gray">
      <a href="HomePage.html" class="w3-button w3-bar-item">Home</a>
      <a href="Workouts.html" class="w3-button w3-bar-item">Workouts</a>
      <a href="MyProgress.html" class="w3-button w3-bar-item">My Data</a>
      <a href="MyAccount.html" class="w3-button w3-bar-item">My Account</a>
    </nav>

    <nav class="w3-bar w3-gray">
      <a href="CustomWorkout.html" class="w3-button w3-bar-item">View your data</a>
      <a href="PrePlannedWorkouts.html" class="w3-button w3-bar-item">View a graph of your data</a>
      <a href="OutdoorWorkouts.html" class="w3-button w3-bar-item">View your outdoor workouts </a>
    </nav>





</body>
</html>