<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <title>My Progress</title>
</head>
<body>

<nav class="w3-bar w3-black w3-text-white">
  <a href="{{ url_for('home')}}" class="w3-button w3-bar-item">Home</a>
  <a href="{{ url_for('workouts')}}" class="w3-button w3-bar-item">Workouts</a>
   <a href="{{ url_for('myOutdoorProgressQuerey')}}" class="w3-button w3-bar-item">My Outdoor Progress</a>
        <a href="{{ url_for('myProgressQuerey')}}" class="w3-button w3-bar-item">My Progress</a>
</nav>

background-image: url('/static/gym.jpeg');


<!--<script>-->
<!--    var xValues = {{ exercise | tojson }};-->
<!--    var yValues = {{ weight | tojson}};-->
<!--    var barColors = ["red","blue","green","orange","purple","yellow"]-->

<!--    new Chart("customExercises",{-->
<!--        type: "bar",-->
<!--        data: {-->
<!--            labels: xValues,-->
<!--            datasets: [{-->
<!--                backgroundColor: barColors,-->
<!--                data: yValues-->
<!--            }]-->
<!--        },-->
<!--        options: {-->
<!--            legend:{display: false},-->
<!--            title:{-->
<!--                display: true,-->
<!--                text: "Custom exercises"-->
<!--            }-->
<!--        }-->

<!--    });-->
<!--</script>-->



</body>
</html>