<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
     <link rel="stylesheet" href="../static/style.css">


    <title>Workouts</title>
</head>
<body>

<nav class="w3-bar w3-black w3-text-white">
  <a href="{{ url_for('home')}}" class="w3-button w3-bar-item">Home</a>
  <a href="{{ url_for('workouts')}}" class="w3-button w3-bar-item">Workouts</a>
  <a href="{{ url_for('myData')}}" class="w3-button w3-bar-item">My Data</a>
  <a href="{{ url_for('myAccount')}}" class="w3-button w3-bar-item">My Account</a>
</nav>

<nav class="w3-bar w3-gray">
  <a href="{{ url_for('GymWorkouts')}}" class="w3-button w3-bar-item">Create Custom Workout</a>
  <a href="{{ url_for('PrePlannedWorkouts')}}" class="w3-button w3-bar-item">Pre-Planned Workouts</a>
  <a href="{{ url_for('OutdoorWorkouts')}}" class="w3-button w3-bar-item">Outdoor Workouts</a>
</nav>

<style>
body {
  background-image: url('../static/gym.jpeg');
}
</style>


<section class="w3-container w3-content w3-center w3-text-white" style="max-width:600px">
  <h2 class="w3-wide">Gym App</h2>
  <p class="w3-opacity">Welcome to Pre-Planned Workouts</p>
</section>

<div class="log-form dropdown-content">
    <h2>Choose Pre-Planned Workout</h2>
    <form action =" /" method="POST">
        <label for="PrePlannedWorkout"></label>
        <select name="type_of_exercise" id="PrePlannedWorkout" required autofocus >
          <option value="Biceps">Biceps </option>
          <option value="Triceps">Triceps</option>
          <option value="Chest">Chest</option>
          <option value="Back">Back</option>
          <option value="Calves">Calves</option>
          <option value="Quads">Quads</option>
          <option value="Lats">Lats</option>

        <label>
              <input type="text" name="email" placeholder="Email" required/>
        </label>

        <label>
              <input type="date" name="datecompleted" placeholder="Date Completed" required/>
        </label>


</select>
        <button type="Submit" class="btn w3-red"> Select Workout</button>
    </form>
</div>
  </article>
</section>

</body>
</html>