<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <title>Workouts</title>

</head>
<body>

<nav class="w3-bar w3-black w3-text-white">
  <a href="HomePage.html" class="w3-button w3-bar-item">Home</a>
  <a href="Workouts.html" class="w3-button w3-bar-item">Workouts</a>
  <a href="MyData.html" class="w3-button w3-bar-item">My Data</a>
  <a href="MyAccount.html" class="w3-button w3-bar-item">My Account</a>
</nav>

<nav class="w3-bar w3-gray">
  <a href="CustomWorkouts.html" class="w3-button w3-bar-item">Create Custom Workout</a>
  <a href="PrePlannedWorkouts.html" class="w3-button w3-bar-item">Pre-Planned Workouts</a>
  <a href="OutdoorWorkouts.html" class="w3-button w3-bar-item">Outdoor Workouts</a>
</nav>



<style>
body {
  background-image: url('gym.jpeg');
}
</style>

<section class="w3-container w3-content w3-center w3-text-white" style="max-width:600px">
  <h2 class="w3-wide">Gym App</h2>
  <p class="w3-opacity">Welcome to Workouts</p>
</section>

<section class="w3-row-padding w3-center w3-text-white">

  <article class="w3-third">
    <p><strong>Custom Workouts</strong></p>
      <p>This allows you to create custom workouts from a choice of different workouts to tailor them to you</p>

  </article>
  <article class="w3-third">
      <p><strong> Pre-Planned Workouts </strong></p>
      <p>Choose from a selection of pre planned workouts that target different muscle groups </p>

  </article>
  <article class="w3-third">
    <p><strong> Outdoor Workouts </strong></p>
      <p>Record data from outdoor exercises such as runs, walks and cycling</p>

  </article>
</section>
</body>
</html>